.filterAndSearchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filterAndSearchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 20px; */
  margin: 150px 0px 20px 0px;
  /* height: 50px; */
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 700;
  width: 100%;
}

.filterBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-inline: 1rem;
}

.chevronIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.chevronIcon:hover {
  color: darkgray;
  transition: 0.2s;
  transform: scale(1.1);
}

.searchBarAndIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-inline: 1rem;
  /* flex-grow: 1; */
}

.searchBarInput {
  border: 1px solid black;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 1rem;
  font-family: 'Sofia Sans', sans-serif;
  width: 400px;
  margin-right: 13px;
  padding-left: 13px;
  height: 40px;
}

.searchBarAndIconContainer i {
  cursor: pointer;
  font-size: 1.8rem;
}

.searchBarAndIconContainer i:hover {
  color: darkgray;
}

.filterOptionsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding: 0 1rem;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 700;
}
