.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Sofia sans', sans-serif;
}

.themePanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 3rem;
  font-size: 1.5rem;
}

.saveThemeBtn {
  height: 1.5rem;
}
