@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&family=Big+Shoulders+Text:wght@700&family=Sofia+Sans:wght@400;700&display=swap');
@import url('~@fortawesome/fontawesome-free/css/all.min.css');

body {
  font-size: 20px;
  margin: 0;
  font-family: 'Big Shoulders Inline Display', 'Big Shoulders Text', 'Sofia Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
